<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="dao.AchievementDao">

    <resultMap id="result" type="Achievement">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="content" column="content"/>   
    </resultMap>
 
    <select id="selectList" resultMap="result">
        SELECT * FROM achievements;
    </select>
    
 	<select id="selectById" parameterType="int" resultMap="result">
        SELECT * FROM achievements WHERE id = #{id}
    </select>
    
 	<insert id="insert" parameterType="Achievement" useGeneratedKeys="true" keyProperty="list_id">
        INSERT INTO achievements (name, content) VALUES (#{name}, #{content});
    </insert>
    
    <update id="update" parameterType="Achievement">
        UPDATE achievements
        SET name = #{name}, content=#{content} 
        WHERE id = #{id} 
  	</update>
 
	<delete id="delete" parameterType="int">
        DELETE from achievements WHERE id = #{id}
    </delete>
    
</mapper>